<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CapitalSocial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FEC9CBB1FA2B47D000643EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FEC9CCF1FA2B47E000643EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FEC9CDA1FA2B47E000643EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
